@import "tailwindcss";
@plugin "daisyui";


.bg-primary-text {
  background: linear-gradient(to right, #632EE3, #9F62F2); 
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.bg-primary {
  background: linear-gradient(to right, #632EE3, #9F62F2); 
  
}